<template name="home">
    <div class="template-home">
        <div class="page-header">
            <h1>Welcome to Project Title</h1>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
    <div class="container">
        <div class="row">
            {{#each defaultCoaches}}
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/fake/avatar.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">{{firstName}} {{getInitialCap lastName}}  <i class="mdi-navigation-more-vert right"></i></span>
                            <p><a href="{{pathFor route='coach.detail'  _id=this._id}}">Go to profile</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{firstName}} {{getInitialCap lastName}} <i class="mdi-navigation-close right"></i></span>
                            <p>{{resume}}</p>
                        </div>
                    </div>
                </div>
            {{/each}}

        </div>
    </div>
    <div>
        {{> esInput index="coaches" placeholder="Search..." }}
    </div>
    <div class="collection">

        {{#ifEsInputIsEmpty index="coaches"}}
            <div>We got following documents to search for.</div>
            {{#each defaultCoaches}}
                <a href="/coach/{{_id}}" class="collection-item">{{firstName}} {{lastName}}
                    {{#each activity}}
                        <button>{{this}}</button>
                    {{/each}}</a>
            {{/each}}
        {{else}}

            {{#esEach index="coaches"}}
                <a href="/coach/{{_id}}" class="collection-item">{{firstName}} {{lastName}} {{> listActivities activity}}
                    {{#each activity}}
                        <button>{{this}}</button>
                    {{/each}}</a>
            {{/esEach}}
            {{> esLoadMoreButton index="coaches"}}
        {{/ifEsInputIsEmpty}}
    </div>
</template>
