<template name="home">
    <div class="template-home">
        <div class="page-header">
            <h1>Welcome to Project Title</h1>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">

                <!-- PRICE ITEM -->
                <div class="panel price panel-red">
                    <div class="panel-heading  text-center">
                        <h3>PRO PLAN</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead" style="font-size:40px"><strong>$10 / month</strong></p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><i class="icon-ok text-danger"></i> Personal use</li>
                        <li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited projects</li>
                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 27/7 support</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-danger" href="#">BUY NOW!</a>
                    </div>
                </div>
                <!-- /PRICE ITEM -->


            </div>

            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">

                <!-- PRICE ITEM -->
                <div class="panel price panel-blue">
                    <div class="panel-heading arrow_box text-center">
                        <h3>DEV PLAN</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead" style="font-size:40px"><strong>$20 / month</strong></p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><i class="icon-ok text-info"></i> Personal use</li>
                        <li class="list-group-item"><i class="icon-ok text-info"></i> Unlimited projects</li>
                        <li class="list-group-item"><i class="icon-ok text-info"></i> 27/7 support</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-info" href="#">BUY NOW!</a>
                    </div>
                </div>
                <!-- /PRICE ITEM -->


            </div>

            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">

                <!-- PRICE ITEM -->
                <div class="panel price panel-green">
                    <div class="panel-heading arrow_box text-center">
                        <h3>FREE PLAN</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead" style="font-size:40px"><strong>$0 / month</strong></p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><i class="icon-ok text-success"></i> Personal use</li>
                        <li class="list-group-item"><i class="icon-ok text-success"></i> Unlimited projects</li>
                        <li class="list-group-item"><i class="icon-ok text-success"></i> 27/7 support</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-success" href="#">BUY NOW!</a>
                    </div>
                </div>
                <!-- /PRICE ITEM -->


            </div>

            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">

                <!-- PRICE ITEM -->
                <div class="panel price panel-grey">
                    <div class="panel-heading arrow_box text-center">
                        <h3>FREE PLAN</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead" style="font-size:40px"><strong>$0 / month</strong></p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><i class="icon-ok text-success"></i> Personal use</li>
                        <li class="list-group-item"><i class="icon-ok text-success"></i> Unlimited projects</li>
                        <li class="list-group-item"><i class="icon-ok text-success"></i> 27/7 support</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-primary" href="#">BUY NOW!</a>
                    </div>
                </div>
                <!-- /PRICE ITEM -->


            </div>

        </div>

    </div>
    <div>
        {{> esInput index="coaches" placeholder="Search..." }}
    </div>
    <div class="collection">
          {{#esEach index="coaches"}}
            <a href="/coach/{{_id}}" class="collection-item">{{firstName}} {{lastName}}</a>
        {{/esEach}}
    </div>
</template>
